name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build.yml
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/build.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: 1
  UPSTREAM_MONO_BRANCH_REF: 23d2e448ec415302e037a6faa9a2e9be5eb488d8

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      version_prefix: ${{ steps.variables.outputs.version_prefix }}
    steps:
      - name: Checkout Mono.Posix
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: mono/mono.posix
          ref: ${{ env.UPSTREAM_MONO_BRANCH_REF }}
          path: build
          submodules: true

      - name: Install xmllint
        run: |
          sudo apt update
          sudo apt install -y libxml2-utils

      - name: Setup variables
        id: variables
        shell: bash
        run: |
          VERSION_PREFIX=$(xmllint --xpath '/*[local-name()="Project"]/*[local-name()="PropertyGroup"]/*[local-name()="VersionPrefix"]/text()' build/eng/Versions.props)

          echo "version_prefix=${VERSION_PREFIX}" >> "$GITHUB_OUTPUT"

  build_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Checkout Mono.Posix
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: mono/mono.posix
          ref: ${{ env.UPSTREAM_MONO_BRANCH_REF }}
          path: build
          submodules: true

      - name: Apply patches
        working-directory: build
        run: |
          git apply --stat --apply ../patches/arm-32bit-large-file-support.patch

      - name: Build
        uses: docker://docker.io/debian:bullseye
        with:
          args: /bin/sh -c "apt-get update && apt-get upgrade --yes && apt-get --yes install build-essential cmake ninja-build g++-arm-linux-gnueabihf g++-aarch64-linux-gnu && CC=gcc-10 CXX=g++-10 ./build/build.sh --no-color --verbose --managed-verbosity detailed --configuration Release host"

      - name: List artifacts
        run: ls -lhR build/artifacts/*-release/lib/*

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: build-linux
          path: build/artifacts/*-release/lib/*
          if-no-files-found: error

  build_android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Mono.Posix
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: mono/mono.posix
          ref: ${{ env.UPSTREAM_MONO_BRANCH_REF }}
          path: build
          submodules: true

      - name: Setup NDK
        id: setup-ndk
        uses: nttld/setup-ndk@afb4c9964b521afb97c864b7d40b11e6911bd410 # v1.5.0
        with:
          ndk-version: r27d
          add-to-path: false

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get --show-upgraded --yes install ninja-build

      - name: Build
        shell: bash
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          ./build/build.sh --no-color --verbose --managed-verbosity detailed --configuration Release android

      - name: List artifacts
        run: ls -lhR build/artifacts/*-release/lib/*

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: build-android
          path: build/artifacts/*-release/lib/*
          if-no-files-found: error

  build_freebsd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Mono.Posix
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: mono/mono.posix
          ref: ${{ env.UPSTREAM_MONO_BRANCH_REF }}
          path: build
          submodules: true

      - name: Build in FreeBSD
        uses: vmactions/freebsd-vm@262fcf6e3e09d447753de95ad05d006c26e11f22 # v1.3.9
        with:
          release: 14.3
          usesh: true
          prepare: |
            pkg install -y ninja bash cmake gcc
          run: |
            bash ./build/build.sh --no-color --verbose --managed-verbosity detailed --configuration Release host
            strip --strip-all build/artifacts/*-release/lib/*.so

      - name: List artifacts
        run: ls -lhR build/artifacts/*-release/lib/*

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: build-freebsd
          path: build/artifacts/*-release/lib/*
          if-no-files-found: error

  build_mac:
    runs-on: macos-latest
    steps:
      - name: Checkout Mono.Posix
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: mono/mono.posix
          ref: ${{ env.UPSTREAM_MONO_BRANCH_REF }}
          path: build
          submodules: true

      - name: Build
        shell: bash
        run: |
          ./build/build.sh --no-color --verbose --managed-verbosity detailed --configuration Release host

      - name: List artifacts
        run: ls -lhR build/artifacts/*-release/lib/*

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: build-mac
          path: build/artifacts/*-release/lib/*
          if-no-files-found: error

  build_mac_catalyst:
    runs-on: macos-latest
    steps:
      - name: Checkout Mono.Posix
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: mono/mono.posix
          ref: ${{ env.UPSTREAM_MONO_BRANCH_REF }}
          path: build
          submodules: true

      - name: Build
        shell: bash
        run: |
          ./build/build.sh --no-color --verbose --managed-verbosity detailed --configuration Release catalyst

      - name: List artifacts
        run: ls -lhR build/artifacts/*-release/lib/*

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: build-mac-catalyst
          path: build/artifacts/*-release/lib/*
          if-no-files-found: error

  build_ios:
    runs-on: macos-latest
    steps:
      - name: Checkout Mono.Posix
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: mono/mono.posix
          ref: ${{ env.UPSTREAM_MONO_BRANCH_REF }}
          path: build
          submodules: true

      - name: Build
        shell: bash
        run: |
          ./build/build.sh --no-color --verbose --managed-verbosity detailed --configuration Release ios

      - name: List artifacts
        run: ls -lhR build/artifacts/*-release/lib/*

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: build-ios
          path: build/artifacts/*-release/lib/*
          if-no-files-found: error

  build_tvos:
    runs-on: macos-latest
    steps:
      - name: Checkout Mono.Posix
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: mono/mono.posix
          ref: ${{ env.UPSTREAM_MONO_BRANCH_REF }}
          path: build
          submodules: true

      - name: Build
        shell: bash
        run: |
          ./build/build.sh --no-color --verbose --managed-verbosity detailed --configuration Release tvos

      - name: List artifacts
        run: ls -lhR build/artifacts/*-release/lib/*

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: build-tvos
          path: build/artifacts/*-release/lib/*
          if-no-files-found: error

  test:
    needs:
      - build_linux
      - build_android
      - build_freebsd
      - build_mac
      - build_mac_catalyst
      - build_ios
      - build_tvos
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Checkout Mono.Posix
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: mono/mono.posix
          ref: ${{ env.UPSTREAM_MONO_BRANCH_REF }}
          path: build
          submodules: true

      - name: Apply patches
        working-directory: build
        run: |
          git apply --stat --apply ../patches/freebsd.patch

      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: build-*
          path: build/artifacts
          merge-multiple: true

      - name: List artifacts
        run: ls -lhR build/artifacts

      - name: Build managed
        shell: bash
        run: |
          ./build/build.sh --no-color --verbose --managed-verbosity normal --configuration Release managed

      - name: Test
        shell: bash
        run: |
          ./build/build.sh --no-color --verbose --managed-verbosity diag --configuration Release --no-build test

  package:
    needs:
      - prepare
      - build_linux
      - build_android
      - build_freebsd
      - build_mac
      - build_mac_catalyst
      - build_ios
      - build_tvos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Checkout Mono.Posix
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: mono/mono.posix
          ref: ${{ env.UPSTREAM_MONO_BRANCH_REF }}
          path: build
          submodules: true

      - name: Apply patches
        working-directory: build
        run: |
          git apply --stat --apply ../patches/freebsd.patch
          git apply --stat --apply ../patches/package_id_package_path_proj.patch

      - name: Setup variables
        id: variables
        env:
          OWNER: ${{ github.repository_owner }}
        run: |
          echo "build_id=$(date +%Y%m%d).1" >> $GITHUB_OUTPUT
          echo "owner=${OWNER,,}" >> $GITHUB_OUTPUT

      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: build-*
          path: build/artifacts
          merge-multiple: true

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: artifacts
          path: build/artifacts
          if-no-files-found: error

      - name: List artifacts
        run: ls -lhR build/artifacts

      - name: Package
        shell: bash
        env:
          OWNER: ${{ github.repository_owner }}
        run: >-
          ./build/eng/common/build.sh
          -restore
          -build
          -pack
          -ci
          -configuration Release
          -projects ${{ github.workspace }}/build/src/Mono.Unix/Mono.Unix.csproj
          -p:PackageAllNativeLibs=true
          -p:PackageId=${{ env.OWNER }}.Mono.Unix
          -p:Version=${{ needs.prepare.outputs.version_prefix }}.${{ github.run_number }}
          -p:OfficialBuildId=${{ steps.variables.outputs.build_id }}

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: packages
          path: build/artifacts/packages/Release/Shipping/*.nupkg
          if-no-files-found: error

  release:
    needs:
      - prepare
      - test
      - package
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: github.event_name == 'workflow_dispatch' && github.ref_name == 'main'
    steps:
      - name: Download packages artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: packages
          path: packages

      - name: Create release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          artifacts: packages/*.nupkg
          artifactErrorsFailBuild: true
          draft: false
          generateReleaseNotes: false
          skipIfReleaseExists: true
          immutableCreate: true
          name: v${{ needs.prepare.outputs.version_prefix }} (build ${{ github.run_number }})
          tag: v${{ needs.prepare.outputs.version_prefix }}.${{ github.run_number }}

  publish:
    needs: release
    runs-on: ubuntu-latest
    permissions:
      packages: write
    if: github.event_name == 'workflow_dispatch' && github.ref_name == 'main'
    steps:
      - name: Download packages artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: packages
          path: packages

      - name: Push to GitHub
        shell: bash
        run: >-
          dotnet nuget push
          packages/Openur.Mono.Unix.*.nupkg
          --no-symbols
          --skip-duplicate
          --source https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
          --api-key ${{ secrets.GITHUB_TOKEN }}

      - name: Push to NuGet
        shell: bash
        run: >-
          dotnet nuget push
          packages/Openur.Mono.Unix.*.nupkg
          --skip-duplicate
          --source https://api.nuget.org/v3/index.json
          --api-key ${{ secrets.NUGET_API_KEY }}
